<nav class="navbar  sticky-top navbar-dark navbar-expand-xxl bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img class="me-2" src="../../../downloadfolderblank_99350.ico" alt=""
        id="container2"><span class="pt-1">Daniel Cuyuch</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" border collapse navbar-collapse " id="navbarNavDropdown">
      <!-- ms-auto -->
      <ul class="border navbar-nav  ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="./html/sitios.html" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sitios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/html/sitios.html#ultimos-proyectos">Ultimos proyectos</a></li>
            <li><a class="dropdown-item" href="/html/sitios.html#single-page">Another action</a></li>
            <li><a class="dropdown-item" href="/html/sitios.html#multi-pages">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./html/clientes.html">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./html/comencemos.html">Comenzemos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./html/contacto.html">Interesado?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Pagina principal -->
<main>
  <article>
    <section class="hero" id="home">
      <div class="container">
        <h2 class="h1 hero-title">
          !Hola! Soy Daniel Cuyuch
        </h2>
        <p class="hero-text">
          Soy un desarrollador de software que se esfuerza por cumplir
          con los más altos estándares de calidad y utiliza tecnologías
          en demanda por el mercado global.
        </p>
        <div class="btn-group">
          <button class="btn btn-primary">
            <i class="bi bi-github fs-5 fw-bold me-2"></i>
            <a href="https://github.com/edaniel2022" class="text-white text-decoration-none" target="_blank">
              Repositorio Github
            </a>
          </button>
          <button class="btn btn-secondary">
            <i class="bi bi-person-lines-fill fs-5 fw-bold me-2"></i>
            <a href="mailto:danielcuyuch55@gmail.com" class="text-white text-decoration-none">Contacto</a>
          </button>
        </div>
      </div>
    </section>
  </article>
</main>

